div.logoimg {
    width: 196px;
    height: 36px;
}
div.logoimg img {
    width: 100%;
    height: auto;
}
.site-desc {
    color: #686868;
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

div.projectimg {
    max-width: 500px;
}

div.projectimg img {
    width: 100%;
    height: auto;
}

p {
    font-size: 1.2rem;
}

div.publication {
}

div.publication > ol  {
    counter-reset: paper;
}

div.publication > ol > li::marker {
    counter-increment: paper; 
    content: "[" counter(paper) "]. "
}
